body {
    margin: auto;
}

\\table settings table {
    width: 100%;
    border-collapse: collapse;
}

.table-header {
    padding: 4px;
}

th {
    background-color: #8f969c;
    color: white;
}

th,
td {
    border: 1px solid #ddd;
    padding: 15px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #7cc4ff;
    color: white;
}

#coluna_cod_produto,
#coluna_preco {
    width: 170px !important;
}

footer {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    bottom: 0px;
    width: 98%;
}

.button {
    border: 2px solid rgb(3, 94, 179);
    border-radius: 5px;
    background-color: rgb(3, 94, 179);
    color: white;
    padding: 2px;
    cursor: pointer;
    margin-left: 8px;
}

.button:hover {
    background-color: white;
    color: rgb(3, 94, 179);
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 4px;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    cursor: pointer;
}

.pagination a:hover {
    background-color: #addaff;
}

.chart {
    display: flex;
    flex-flow: nowrap;
    justify-content: center;
}

.content {
    display: inline;
    align-items: center;
    justify-content: start;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 77px 15PX;
}

.title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 28px;
}

.input {
    border: 1px solid #c1c1c1;
    border-radius: 4px;
    color: #6d7174;
    font-size: 21px;
    text-align: center;
    width: 26%;
}

.select {
    border: 1px solid #c1c1c1;
    border-radius: 4px;
    font-size: 25px;
    color: #6d7174;
}

.operation {
    font-size: 25px;
    padding: 4px;
}

.result {
    display: flex;
    justify-content: center;
    padding: 2px;
}

.action {
    font-size: 25px;
    padding: 4px;
}

.container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-around;
    background-color: #6d7174;
    width: 19%;
    height: 90%;
    padding: 2px 0px;
}