table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #000;
}
button {
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-size: 17px;
    padding: 5px;
    cursor: pointer;
}
.button:hover {
    background-color: white;
    color: #4CAF50;

}