nav.navbar {
    background-color: #58b4ff;
    min-height: 50px;
    padding: 15px;
    color: white;
    text-align: left;
    font-size: 36px;
    font-family: "Segoe UI", Arial, sans-serif;
}

.breadcrumbs {
    background-color: #035eb3;
    color: white;
    padding: 8px 16px;
}

main {
    background-color: #fefefe;
}

main>section.container {
    height: 50%;
    min-height: 336px;
}

footer {
    background: #035eb3;
    padding: 16px;
    color: #fff;
}

body {
    font-family: "Segoe UI", Arial, sans-serif;
}